@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.go-btn{
  @include setBgColor($primary,$white);
  display: inline-block;
  text-align: center;
  @include font($secondaryFont, 14, normal, normal, 20);
  @include wh100;
  padding: size(18) size(0);
  @include radius(8);
  @include transitionsbackground;
  @include breakpoint(tab992) {
    @include font($secondaryFont, 16, normal, normal, 22);
    padding: size(20) size(0);
  }
  @include hover {
    @include setBgColor(darken($primary, 20%), $white);
  }
  
}

.swap-btn{
  @include square(48);
  @include border(solid,1,$gray-300);
  @include circle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $white;
  // @include transitionsbackground;
  svg{
    
  }
  @include hover{
    @include setBgColor(darken($white, 10%), $white);
  }
}

.show-btn{
  @include setBgColor($primary,$white);
  display: inline-block;
  padding: size(16) size(24);
  @include radius(8);
  @include font($secondaryFont,14,normal,normal,14);
  @include transitionsall;
  @include hover {
    @include setBgColor(darken($primary, 20%), $white);
  }
}

.clear{
  color: $gray-600;
  @include font($secondaryFont,14,normal,normal,22);
  padding: size(5);
  @include hover {
    color: $gray-800;
  }
}

.btn-off {
  @include setBgColor($offBtnBg,$offBtnText);
  padding: size(8) size(10);
  @include radius(8);
}
.btn-coupon {
  @include setBgColor($couponBtn,$white);
  padding: size(8) size(16);
  @include radius(4);
  @include transitionsall;
  @include hover {
    @include setBgColor(darken($couponBtn,20%),white);
  }

}

.payment-btn {
  @include setBgColor($primary,$white);
  @include flex-between;
  padding: size(16);
  @include font($secondaryFont, 14, normal, normal, 20);
  @include radius(8);
  @include transitionsall;
  @include breakpoint(mobile576) {
    @include font($secondaryFont, 16, normal, normal, 20);
  }
  @include hover {
    @include setBgColor(darken($primary,20%),white);
  }

}

.upload-file-btn {
  @include setBgColor($fileUpload,$white);
  display: inline-flex;
  gap: size(4);
  align-items: center;
  padding: size(8) size(16);
  @include radius(4);
  @include transitionsall;
  @include font($secondaryFont,14,semibold,normal,16);

  @include hover {
    @include setBgColor(lighten($fileUpload,10%),white);
  }
}
.flight-dealBtn {
  padding: size(10) size(0);
  border-right: size(1) solid $gray-300;
  @include setBgColor($white,$gray-700);
  color: $gray-600;
  @include font($secondaryFont,12,normal,normal,22);
  @include transitionsall;
  &:nth-child(1) {
    @include single-radius(top,left,6);
    @include single-radius(bottom,left,6);
  }
  &:nth-child(3) {
    @include single-radius(top,right,6);
    @include single-radius(bottom,right,6);
  }
  @include hover {
    @include setBgColor(darken($primary,10%),white);
  }
  @include breakpoint(mobile480) { 
    padding: size(12) size(0);
    @include font($secondaryFont,14,normal,normal,22);
  }
  @include breakpoint(tab992) { 
    padding: size(16) size(10);
    @include font($secondaryFont,14,normal,normal,22);
  }
 
}

.flight-dealBtn.active {
  @include setBgColor($fileUpload,$white);
}

.buy-btn {
  @include setBgColor($yellow-deep,$gray-700);
  padding: size(12) size(20);
  @include radius(8);
  @include font($secondaryFont,14,normal,normal,22);
  @include transitionsall;
  @include hover {
    @include setBgColor(darken($yellow-deep,10%),white);
  }
}
.save-btn {
  @include setBgColor($primary,$white);
  padding: size(10) size(32);
  @include radius(8);
  @include w100;
  @include font($secondaryFont,14,normal,normal,22);
  @include transitionsall;
  @include breakpoint(mobile768) {
    width: size(272);
    padding: size(12) size(32);
    @include font($secondaryFont,16,normal,normal,22);
  }

  @include hover {
    @include setBgColor(darken($primary,10),white);
  }
  
}

.form-box {
  margin-inline: auto;
  background-color: red;
  margin: auto;
  @include flex-center-horiz;
  .button-box {
   @include flex-center-horiz;
   width: size(272);
   position: relative;
   background: $gray-100;
  }
  .toggle-btn {
    background-color: teal;
  }
  #toggle-btn {

  }
}

.btn-hamburger {
  background: $white;
  @include square(38);
  @include circle;
  @include flex-center;
  @include breakpoint(mobile576) {
    @include square(50);
  }
}

.select-btn {
  @include setBgColor($yellow-deep,$gray-700);
  display: inline-block;
  text-align: center;
  @include font($secondaryFont, 14, medium, normal, 20);
  padding: size(16) size(26);
  @include radius(8);
  @include transitionsbackground;
  @include breakpoint(tab992) {
    @include font($secondaryFont, 14, medium, normal, 22);
    padding: size(16) size(30);
  }
  @include hover {
    @include setBgColor(lighten($yellow-deep, 10%), $gray-800);
  }
}
.require-document {
  color: $primary;
  display: inline-block;
  text-align: center;
  @include flex-center-horiz;
  gap: size(6);
  @include font($secondaryFont, 14, normal, normal, 20);
  @include transitionscolor;
  @include breakpoint(tab992) {
    @include font($secondaryFont, 14, normal, normal, 22);
  }
  @include hover {
    color: $primary2;
  }
}