@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.go-btn{
  @include setBgColor($primary,$white);
  display: inline-block;
  text-align: center;
  @include font($secondaryFont, 14, normal, normal, 20);
  @include wh100;
  padding: size(18) size(0);
  @include radius(8);
  @include transitionsbackground;
  @include breakpoint(tab992) {
    @include font($secondaryFont, 16, normal, normal, 22);
    padding: size(20) size(0);
  }
  @include hover {
    @include setBgColor(darken($primary, 20%), $white);
  }
  
}

.swap-btn{
  @include square(48);
  @include border(solid,1,$gray-300);
  @include circle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $white;
  // @include transitionsbackground;
  svg{
    
  }
  @include hover{
    @include setBgColor(darken($white, 10%), $white);
  }
}

.show-btn{
  @include setBgColor($primary,$white);
  display: inline-block;
  padding: size(16) size(24);
  @include radius(8);
  @include font($secondaryFont,14,normal,normal,14);
  @include transitionsall;
  @include hover {
    @include setBgColor(darken($primary, 20%), $white);
  }
}

.clear{
  color: $gray-600;
  @include font($secondaryFont,14,normal,normal,22);
  padding: size(5);
  @include hover {
    color: $gray-800;
  }
}