@use '../../global' as *;
@use '../../partials' as *;

.faq {
    .accordion {
        &-item {
            @include border(solid,1,$linkborder);
            border-bottom: none;
            border-right: none;
            border-left: none;

            &:first-of-type {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                .accordion-button {
                    // border-top-left-radius: 0 !important;
                    // border-top-right-radius: 0 !important;
                    // display: none;
                    
                }
            }
        }
        &-header {

        }

        &-body {
            padding: size(14) size(4);
        }
        &-button {
            padding: size(14) size(10);
            border: none;
            &::after {
                content: '';
            }
            &:not(.collapsed) {
                background: transparent;
                color: $body-text;
                &::after {
                    background-image: var(--bs-accordion-btn-icon);
                }
            }
            
        }
    }
}