@use '../../global' as *;
@use '../../partials' as *;

.modal {
  &-content {
    @include radius(25);
    border: none;
    // padding: size(40);
  }
  
  &-header {
    border-bottom: 0;
    .header-title{
        color: $gray-900;
        @include font($secondaryFont,22,normal,normal,30);
    }
    .btn-close {
      @include square(18);
      @include flex-center;
      overflow: hidden;
      opacity: 1;

      svg {
        @include wh100;
        @include transitiontransform;

        path {
          fill: rgba($gray-600, 0.4);
          @include transitionsall;
        }
      }

      @include hover {
        svg {
          @include rotate(90);

          path {
            fill: $gray-600;
          }
        }
      }
    }
  }
  &.filterModal{
    
    .modal-content {
        @include radius(30);
    }
    .modal-body{
        .filter-content{
            @include flex-column;
            padding: size(20);
            gap:size(20);
            min-height: size(200);
            &-header{
                // @include border(solid,1,$gray-600);
                @include border-single(bottom,solid,1,$gray-300);
                .filter-title{
                    color: $gray-700;
                    @include font($secondaryFont,14,normal,normal,14);
                    padding-bottom: size(10);
                }
            }
            &-body{
                @include flex-column;
                gap:size(20);
                .range-value{
                    @include flex-between;
                    .min-box{
                        @include flex-column;
                        .min-title{
                          color: $gray-600;
                          @include font($secondaryFont,12,normal,normal,12);
                        }
                        input{
                            max-width: 100px;
                            color:$gray-700;
                            @include font($secondaryFont,14,normal,normal,22);
                        }
                    }
                    .max-box{
                        @include flex-column;
                        .max-title{
                          color: $gray-600;
                          @include font($secondaryFont,12,normal,normal,12);
                        }
                        input{
                            max-width: 100px;
                            color:$gray-700;
                            @include font($secondaryFont,14,normal,normal,22);
                        }
    
                    }
                }
                .checkbox-wrapper{
                  @include flex-column;
                  gap:size(18);
                }
            }
            .range-slide{
                padding-inline: size(10);
            }
        }
    }
    .modal-footer{
      justify-content: space-between;
    }
}

//   &.addedmodal {
//     .modal-content {
//       @include radius(8);
//     }

//     .modal-body {
//       .addedbasket {
//         @include flex-center-column;
//         gap: size(32);

//         @include breakpoint(tab992) {
//           padding: size(0) size(48) size(48);
//         }

//         &-header {
//           .icon {
//             @include square(size(64));
//             @include flex-center;
//             @include circle;

//             @include breakpoint(tab992) {
//               @include square(size(100));
//             }

//             svg {
//               @include wh100;
//             }
//           }
//         }

//         &-body {
//           @include flex-center-column;
//           gap: size(20);
//           text-align: center;

//           .basket-title {
//             color: $menuBlack;
//             @include font($secondaryFont, 20, normal, normal, 20);

//             @include breakpoint(tab992) {
//               @include font($secondaryFont, 28, normal, normal, 28);
//             }
//           }

//           .basket-buttons {
//             @include flex-center;
//             gap: size(16);
//             @include w100;

//             .btn-basket {
//               padding: size(12);
//               @include radius(8);
//               @include setBgColor($green, $white);
//               @include font($secondaryFont, 14, normal, normal, 20);
//               text-align: center;
//               width: 50%;

//               @include breakpoint(tab992) {
//                 @include font($secondaryFont, 16, normal, normal, 24);
//               }

//               @include hover {
//                 @include setBgColor(darken($green, 25%), $white);
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   &.removemodal {
//     .modal-content {
//       @include radius(8);
//     }

//     .modal-body {
//       .removebasket {
//         @include flex-center-column;
//         gap: size(24);

//         @include breakpoint(tab992) {
//           padding: size(0) size(48) size(48);
//         }

//         &-header {
//           @include flex-center;
          
//           .icon {
//             @include square(size(64));
//             @include flex-center;
//             @include circle;

//             @include breakpoint(tab992) {
//               @include square(size(68));
//             }

//             svg {
//               @include wh100;
//             }
//           }
//         }

//         &-body {
//           @include flex-center-column;
//           gap: size(24);

//           .removeinfo {
//             @include flex-center-column;
//             gap: size(8);
//             text-align: center;

//             .textremove {
//               color: $menuBlack;
//               @include font($primaryFont, 14, medium, normal, 20);

//               @include breakpoint(mobile768) {
//                 @include font($primaryFont, 16, medium, normal, 24);
//               }
//             }
//           }

//           .basket-buttons {
//             @include flex-center;
//             gap: size(16);
//             @include w100;

//             .btn-remove {
//               width: 50%;
//               padding: size(10);
//               @include radius(8);
//               text-align: center;
//               @include font($secondaryFont, 16, normal, normal, 24);
            
//               &.btn-cancel {
//                 @include setBgColor($green, $white);

//                 @include hover {
//                   @include setBgColor(darken($green, 25%), $white);
//                 }
//               }

//               &.btn-delete {
//                 @include setBgColor($danger, $white);

//                 @include hover {
//                   @include setBgColor($dangercolor, $white);
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   &.uploadatwork {
//     .modal-content {
//       @include radius(8);
//     }

//     .modal-header {
//       @include breakpoint(tab992) {
//         padding: size(40);
//       }
//     }

//     .modal-body {
//       .uploadAtWork {
//         @include flex-column;
//         gap: size(16);

//         @include breakpoint(tab992) {
//           padding: size(40);
//         }

//         &-header {
//           .atworktitle {
//             color: $black;
//             @include font($secondaryFont, 20, normal, normal, 20);

//             @include breakpoint(tab992) {
//               @include font($secondaryFont, 28, normal, normal, 28);
//             }
//           }
//         }

//         &-body {
//           @include flex-column;
//           gap: size(32);

//           .atworkdetails {
//             padding-left: size(24);

//             @include breakpoint(tab992) {
//               padding-right: size(40);
//             }

//             .atworklist {
//               @include flex-column;
//               gap: size(8);

//               &-item {
//                 color: $black;
//                 @include font($primaryFont, 16, normal, normal, 24);
//               }
//             }
//           }

//           .upinfo {
//             @include wh100;
//             @include flex-center;

//             .default {
//               background: $secondary;
//               @include square(280);
//               @include flex-center;
//               overflow: hidden;

//               @include breakpoint(mobile360) {
//                 @include square(310);
//               }

//               @include breakpoint(mobile576) {
//                 @include square(365);
//               }

//               .icon {
//                 @include square(112);
//                 @include flex-center;

//                 svg {
//                   @include wh100;
//                 }
//               }
//             }

//             .uploaded-thumb {
//               @include square(280);
//               @include flex-center;
//               overflow: hidden;

//               @include breakpoint(mobile360) {
//                 @include square(310);
//               }

//               @include breakpoint(mobile576) {
//                 width: size(466);
//                 height: size(290);
//               }

//               img {
//                 @include wh100;
//                 object-fit: cover;
//               }
//             }
//           }

//           .uploadinfo {
//             @include flex-column;
//             gap: size(24);

//             &-head {
//               .uploadinfo-title {
//                 color: $textDark;
//                 @include font($primaryFont, 16, normal, normal, 24);
//               }
//             }

//             &-body {
//               @include flex-column;
//               gap: size(24);

//               .uploadedfile {
//                 @include flex-center-vert;
//                 gap: size(16);

//                 .uploaded {
//                   @include flex-center-between;
//                   padding: size(8) size(12);
//                   background: $grayBg;
//                   width: calc(100% - size(56));

//                   @include breakpoint(mobile576) {
//                     width: calc(100% - size(112));
//                     padding: size(10) size(12);
//                   }

//                   .filenameinfo {
//                     width: 65%;
//                     overflow: hidden;

//                     .filename {
//                       color: $black;
//                       @include font($primaryFont, 16, normal, normal, 24);
//                       @include text-overflow;
//                     }
//                   }

//                   .deleteinfo {
//                     width: 35%;
//                     @include flex-end;

//                     .btn-remove {
//                       @include flex-center;
//                       gap: size(8);
  
//                       .text {
//                         color: $danger;
//                         @include font($secondaryFont, 16, normal, normal, 24);
//                       }
  
//                       .icon {
//                         @include square(14);
//                         @include flex-center;
//                         overflow: hidden;
  
//                         svg {
//                           @include wh100;
//                         }
//                       }
//                     }
//                   }
//                 }

//                 .uploadfile {
//                   width: size(40);

//                   @include breakpoint(mobile576) {
//                     width: size(96);
//                     @include flex-center;
//                   }
//                 }
//               }

//               .continuebox {
//                 @include flex-center;

//                 .continue {
//                   @include w100;
  
//                   @include breakpoint(mobile576) {
//                     width: size(554);
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
}

