@use '../global' as *;
@use '../partials' as *;

.eticket {
  
    
    &-header {
        @include setBgColor($primary,$white);
        border-top-left-radius: size(10);
        border-top-right-radius: size(10);
        padding: size(24);
        @include flex-center-between;
       
        .header-left {
            @include flex-center-vert;
            gap: size(10);
            .name {
                @include font($secondaryFont,22,normal,normal,24);
                @include breakpoint(tab992) {
                @include font($secondaryFont,24,normal,normal,24);
    
                }
            }
            .vl {
                @include border-single(left,solid,1,$white);
                height: size(42);
      
            }
            .ticket-id {
                @include font($secondaryFont,14,normal,normal,20);
                @include breakpoint(tab992) {
                @include font($secondaryFont,16,normal,normal,24);
    
                }
            }
        }

        .header-right {
            .cross-btn {
                cursor: pointer;
            }
        }
        

    }
    &-body {
        background-color: $white;
        padding: size(20);
        .airline-info {
            @include flex-between;
            flex-direction: column;
            @include breakpoint(mobile414) {
                flex-direction: row;
            } 

            .phone-numbers {
                color: $gray-600;
                @include font($secondaryFont,14,normal,normal,20);
                @include breakpoint(tab992) {
                @include font($secondaryFont,16,normal,normal,24);
    
                } 
            }
        }
        .ticket-info {
           @include flex-column;
           gap: size(10);
           .ticket {
            @include flex-center-between;
            @include border(solid,1,$linkborder);
            padding: size(12);
            @include radius(8);
            .left {
                color: $gray-700;
               
                .name {
                    @include font($secondaryFont,12,medium,normal,20);
                    @include breakpoint(tab992) {
                    @include font($secondaryFont,14,medium,normal,24);
                        
                    }
                .number {
                    @include font($secondaryFont,12,normal,normal,20);
                    @include breakpoint(tab992) {
                    @include font($secondaryFont,14,normal,normal,24);
                        
                    }
                }
                }
            }
            .middle {
               @include breakpoint(mobile576) {
                .ps-5 {
                    padding-left: 7rem !important; 
                }
               }
                @include font($secondaryFont,12,normal,normal,20);
                    @include breakpoint(tab992) {
                    @include font($secondaryFont,14,normal,normal,24);
                    width: max-content;
                        
                    }
            }
            .right {
                @include flex-column;
                .destination {
                    @include font($secondaryFont,12,normal,normal,20);
                    color: $gray-500;
                    @include breakpoint(tab992) {
                    @include font($secondaryFont,14,normal,normal,24);
                        
                    }
                }
                .seat {
                    color: $gray-700;
                    @include font($secondaryFont,12,normal,normal,20);
                    @include breakpoint(tab992) {
                    @include font($secondaryFont,14,normal,normal,24);
                        
                    }
                }
            }
           } 
        }
    }
}