@use '../global' as *;
@use '../partials' as *;

.customer-details {
    padding-top: size(40);
    &-content {
        @include flex-column;
        gap:size(30);
        @include breakpoint(tab992) {
            gap:size(50);
        }
    }
    &-header {
        @include flex-column;
        gap: size(10);
        text-align: center;
        @include breakpoint(tab992) {
            text-align: left;
            gap: size(16);
        }
        .customer-details-title {
            color: $gray-700;
            @include font($primaryFont,32,normal,normal,32);
            @include breakpoint(tab992) {
                @include font($secondaryFont,32,normal,normal,32);
            }
        }
        .customer-details-description {
            color: $gray-600;
            @include font($primaryFont,18,normal,normal,30);
        }
    }
    &-body {
        .details-container {
            @include flex-column;
            gap: size(20);
            
        }
        .radio-box {
            @include flex-column;
            gap: size(18);
            padding-block: size(10);
            &-header {
                .radio-box-title {
                    @include font($secondaryFont,14,normal,normal,14);

                }
            }
            &-body {
                @include flex-column;
                gap: size(10);
                @include breakpoint (tab992) {
                    @include flex-row;
                }
            }
        }
        .check-box {
            @include flex-column;
            gap: size(10);
            &-header {
                .check-box-title {
                    @include font($secondaryFont,18,medium,normal,24);
                    color: $gray-700;
                }
            }
            &-body {
               
            }
        }
        .coupon {
            @include flex-column;
            gap: size(8);
            .coupon-title {
                color: $gray-700;
                @include font($secondaryFont,20,medium,normal,24);
            }
        }
    }
}