@use '../global' as *;
@use '../partials' as *;


.booking {
  position: relative;
  // z-index: 1;
  margin-top: size(-140);
  @include breakpoint (mobile576) {
    margin-top: size(-160);
  }
  @include breakpoint (mobile768) {
    margin-top: size(-200);
  }
  @include breakpoint (desktop1200) {
    margin-top: size(-250);
  }
  .bg{
    background: rgba(216, 224, 232, 0.3);
    padding: size(0);
    @include radius(24);
    @include breakpoint(mobile768){
      padding: size(14);
    }
    @include breakpoint(tab992){
      padding: size(24);
    }
  }
  &-content {
    background: $white;
    border-radius: 24px;
  }
  &-top{
    .booking-tab {
     padding: size(20);
     @include breakpoint(mobile768){
      padding: size(20);
     }
     .select-trip {
      @include flex-column;
      gap:size(20);
      @include breakpoint(mobile768){
        flex-direction: row;
      }
      .trip-radios{
        @include flex;
        gap: size(16);
        flex-wrap: wrap;
        @include breakpoint (mobile576) {
          gap: size(24);
        }
        .customradio {
          .customradio-label {
            padding-left: size(30);
          }
        }
      }
      .trip-selects{
        @include flex;
        gap: size(20);
        @include breakpoint (mobile576) {
          gap: size(30);
        }

      }
     }
     .input-box {
      @include border(solid,1,$linkborder);   
      padding: size(12) size(8);
      @include flex-column;
      gap: size(10);

      @include transitionsbackground;
      @include radius(8);
      @include breakpoint(tab992){
        @include radius(0);
      }
      &:focus-within {
        @include setBgColor($linkborder,$gray-800);
      }
      
        .input-label{
          @include font($secondaryFont,10,normal,normal,10);
          color: $gray-600;
          
        }
        .input-field{
          color: $gray-700;
          @include font($secondaryFont,14,normal,normal,14);
          background: transparent;
     
          max-width: size(120);
          @include breakpoint(mobile576){
            @include font($secondaryFont,16,normal,normal,16);
          }
        }
        .value-box {
          @include flex;
          align-items: center;
          justify-content: flex-start;
          gap: size(14);
          .full-name {
            // width: calc(100% - size(100));
            @include font($secondaryFont,10,normal,normal,10);
            color: $gray-600;
          }
        }
        
       }
       .left-box {
        @include breakpoint(tab992){
          border-top-left-radius: size(8);
          border-bottom-left-radius: size(8);
        }
        
       }
       .right-box {
        
        @include breakpoint(tab992) {
          border-top-right-radius: size(8);
          border-bottom-right-radius: size(8);
        }
       }
    
      &-body{
        background-color: tan;
      }
    }
  }

}

.special-deal {
  padding: size(40) size(0) size(0);
  @include breakpoint(tab992){
    padding: size(80) size(0) size(80);
  }
  &-content{
      @include flex-column;
      gap:size(30);

  }
  &-header{
     .specialinfo{
      .special-deal-title{
          @include font($primaryFont,18,semibold,normal,18);
          @include breakpoint(mobile576){
            @include font($primaryFont,20,semibold,normal,20);
          }
          @include breakpoint(mobile768){
            @include font($primaryFont,22,semibold,normal,22);
          }
          @include breakpoint(tab992){
            @include font($primaryFont,24,semibold,normal,24);
            color: $gray-700;
            }
      }
     }

  }
  &-body{
   
  }
}

.popular-destination {
  padding: size(40) size(0) size(0);
  @include breakpoint(tab992){
    padding: size(80) size(0) size(80);
  }
  &-content{
    @include flex-column;
      gap:size(30);
  }
  &-header {
    .popularinfo{
      .popular-destination-title{
        @include font($primaryFont,18,semibold,normal,18);
        color: $gray-700;
        @include breakpoint(mobile576){
          @include font($primaryFont,20,semibold,normal,20);
        }
        @include breakpoint(mobile768){
          @include font($primaryFont,22,semibold,normal,22);
        }
        @include breakpoint(tab992){
          @include font($primaryFont,24,semibold,normal,24);
          color: $gray-700;
          }
      }
    }
  }
  &-body {
    @include flex-column;
    gap:size(24);
  }
}


.cheapest-flight {
  padding: size(40) size(0) size(0);
  @include breakpoint(tab992){
    padding: size(80) size(0) size(80);
  }
  &-content {
    @include flex-column;
      gap:size(30);
  }
  &-header{
    .cheapestinfo{
      .cheapest-flight-title{
        @include font($primaryFont,18,semibold,normal,18);
        color: $gray-700;
        @include breakpoint(mobile576){
          @include font($primaryFont,20,semibold,normal,20);
        }
        @include breakpoint(mobile768){
          @include font($primaryFont,22,semibold,normal,22);
        }
        @include breakpoint(tab992){
          @include font($primaryFont,24,semibold,normal,24);
          color: $gray-700;
          }
      }
    }
  }
  &-body{
    .single-fligths {
      @include flex-column;
      gap:size(10);
    }
  }

}


.popular-airline {
  padding: size(40) size(0) size(0);
  @include breakpoint(tab992){
    padding: size(80) size(0) size(80);
  }
    &-content {
      @include flex-column;
      gap:size(30);

  }
  &-header {
     .popularinfo{
      .popular-airline-title{
        @include font($primaryFont,18,semibold,normal,18);
        color: $gray-700;
        @include breakpoint(mobile576){
          @include font($primaryFont,20,semibold,normal,20);
        }
        @include breakpoint(mobile768){
          @include font($primaryFont,22,semibold,normal,22);
        }
        @include breakpoint(tab992){
          @include font($primaryFont,24,semibold,normal,24);
          color: $gray-700;
          }
      }
     }

  }
}
