@use '../global' as *;
@use '../partials' as *;

.hero-image {

    .hero-thumb {
        width: 100%;
        max-height: size(430);
        @include radius(16);
        overflow: hidden;
        img {
            @include wh100;
            object-fit: cover;
           
        }
    }
}

.visalist {
    padding: size(40) size(0);
    @include breakpoint(tab992) {
        padding: size(40) size(0);
    }
    &-content {
        @include flex-column;
        gap: size(48);
    }

    &-header {
        @include flex-column;
        gap: size(6);
        @include breakpoint(mobile576) {
            gap: size(14);
        }

        .visa-for {
            color: $gray-700;
            @include font($secondaryFont,22,light,normal,28);
            @include breakpoint(tab992) {
            @include font($secondaryFont,24,light,normal,28);

            }
        }
        .visa-type {
            color: $gray-700;
            @include font($secondaryFont,24,normal,normal,32);
            @include breakpoint(mobile576) {
                @include font($secondaryFont,36,normal,normal,44);
            }
            @include breakpoint(tab992) {
            @include font($secondaryFont,44,normal,normal,60);

            }
        }   

        ul {
            @include list-horizontal;
            gap: size(8);
            flex-wrap: wrap;
            @include breakpoint(mobile576) {
                gap: size(14);
            }

            li {
                color: $gray-600;
                @include font($secondaryFont,14,light,normal,20);
                @include breakpoint(mobile576) {
                    @include font($secondaryFont,16,light,normal,20);
                
                }
                @include breakpoint(tab992) {
                    @include font($secondaryFont,18,normal,normal,20);

                }

            }
        }
    }

    &-body {
        @include flex-column;
        gap: size(24);
    }
 
}