@use '../global' as *;
@use '../partials' as p;

.printshop-container {
  max-width: 90%;
  margin-inline: auto;
}

@media only screen and (min-width : 1400px) {

  .container { 
   max-width: 1380px;  
  } 

}