
@use '../../global' as *;
@use '../../partials' as *;

.preloader {
  background: lighten($primary, 40%);
  position: fixed;
  top: 0;
  left: 0;
  @include vwh100;
  @include flex-center;
  z-index: 999999;

  .loader {
    @include square(160);
    @include flex-center;
    overflow: hidden;
  }
}