@use '../global' as *;
@use '../partials' as *;




.customradio{

  &-box{
    &:checked ~ .customradio-label{
      color: $gray-800;
      &::before{
        background-color: $white;
        @include border(solid ,1 ,$primary);
      }
      &::after{
        opacity: 1;
        visibility: visible;
        
      }
    }

  }
  &-label{
    position: relative;
    color: $gray-600;
    padding-left: size(30);
    cursor: pointer;
    @include font($secondaryFont,14,semibold,normal,20);
    &::before,
    &::after{
      content: '';
      @include absolute(top 50% left 0);
     
    }
    &::before{
      @include square(26);
      @include border(solid ,1 ,#ddd);
      background: $white;
      @include radius(50);
      @include translateY(-50%);
      @include transitionsall;
      
    }
    &::after{
      width: size(18);
      height: size(18);
      @include border(solid,2,#fff);
      @include transform(translateY(-50%));
      background-color: $primary;
      left: 4px;
      @include circle;
      opacity: 0;
      visibility: hidden;
      @include transitionsall;
      
    }
  }
}