@use '../global' as *;
@use '../partials' as *;
.ui-widget-content {
 background-color: #CCD6FF;
 height:size(5);
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider-horizontal .ui-slider-range {
    background-color:  #4C6FFF;
}



.ui-state-default, .ui-widget-content .ui-state-default{
    @include circle;
     background:#4C6FFF;
     outline: size(4) solid rgba(76, 111, 255, 0.4);
}

.ui-slider .ui-slider-handle {
 @include square(20);
 top: -8px;
}