@use '../../global/' as *;
@use '../../partials/' as *;
.swiper-button-prev,
.swiper-button-next{
    background-color: $white;
   @include square(30);
   @include circle;
    transform: translateY(-100%);
    svg{
        width: size(15);
    }
    @include breakpoint(tab992){
         @include square(50);
        svg{
            width: size(20);
        }
    }
}