@use '../../global/' as *;
@use '../../partials/' as *;


.top-prev,
.top-next{
    background-color: $white;
   @include square(30);
   @include circle;
    transform: translateY(-100%);
    svg{
        width: size(15);
    }
    @include breakpoint(tab992){
         @include square(50);
        svg{
            width: size(20);
        }
    }
}
.buttom-prev,
.buttom-next{
    @include border(solid,1,$gray-500);
    background: $white;
    @include square(20);
    @include circle;
    top: 50%;
    svg{
        width: size(10);
    }

}

.buttom-prev{
    left: 0;
}
.buttom-next{
    right: 0;
}